@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #fff7ed;
  color: #111111;
  font-family: Inter, sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::selection {
  background: #111111;
  color: white;
}

.card-shadow {
  box-shadow: 8px 8px 0px #111111;
}

.soft-shadow {
  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
}

.grid-bg {
  background-image:
    linear-gradient(rgba(17,17,17,0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(17,17,17,0.06) 1px, transparent 1px);

  background-size: 40px 40px;
}
